In [1]:
alien={'color':'green','ponts':5}

In [2]:
print(alien)

{'color': 'green', 'ponts': 5}

In [3]:
EMP={'name':'vasu','age':5:company,'salary':'45000'}

SyntaxError: invalid syntax (<ipython-input-3-3ee442f6abe5>, line 1)

In [4]:
EMP={'name':'vasu','age':5,'company':'HCL','salary':'45000'}

In [14]:
EMP={'name':'vasu','age':5,'company':'HCL','salary':'45000'}

In [15]:
EMP2={'name':'tilak','age':32,'company':'HCL','salary':'80000'}

In [16]:
EMP3={'name':'Mahesh','age':35,'company':'HCL','salary':'90000'}

In [17]:
print(EMP(),EMP2(),EMP3())

TypeError: 'dict' object is not callable

In [18]:
print(EMP(),EMP2())

TypeError: 'dict' object is not callable

In [19]:
print((EMP),(EMP2),(EMP3))

{'name': 'vasu', 'age': 5, 'company': 'HCL', 'salary': '45000'} {'name': 'tilak', 'age': 32, 'company': 'HCL', 'salary': '80000'} {'name': 'Mahesh', 'age': 35, 'company': 'HCL', 'salary': '90000'}

In [5]:
print(EMP)

{'name': 'vasu', 'age': 5, 'company': 'HCL', 'salary': '45000'}

In [6]:
EMP2={'name':'tilak','age':32,'company':'HCL','salary':'80000'}

EMP3={'name':'PRASAD','age':35,'company':'HCL','salary':'90000'}

In [7]:
print(EMP,EMP2,EMP3)

NameError: name 'EMP3' is not defined

In [8]:
print(EMP),(EMP2),(EMP3)

{'name': 'vasu', 'age': 5, 'company': 'HCL', 'salary': '45000'}

NameError: name 'EMP3' is not defined

In [9]:
print((EMP),(EMP2),(EMP3))

NameError: name 'EMP3' is not defined

In [10]:
print((EMP),(EMP2))

{'name': 'vasu', 'age': 5, 'company': 'HCL', 'salary': '45000'} {'name': 'tilak', 'age': 32, 'company': 'HCL', 'salary': '80000'}

In [11]:
EMP3={'name':'Mahesh','age':35,'company':'HCL','salary':'90000'}

In [12]:
print(EMP(),EMP2(),EMP3())

TypeError: 'dict' object is not callable

In [13]:
print(EMP3)

{'name': 'Mahesh', 'age': 35, 'company': 'HCL', 'salary': '90000'}

In [20]:
print(alien[color])

NameError: name 'color' is not defined

In [21]:
alien={'color':'green','ponts':5}

In [22]:
print(alien[''color])

SyntaxError: invalid syntax (<ipython-input-22-d97f9666f4d9>, line 1)

In [23]:
print(alien['color'])

green

In [24]:
print(EMP3)

{'name': 'Mahesh', 'age': 35, 'company': 'HCL', 'salary': '90000'}

In [25]:
print((EMP['salary']),(EMP2['salary']))

45000 80000

In [26]:
print((EMP['salary']),(EMP2['salary']),(EMP3['salary'])

SyntaxError: unexpected EOF while parsing (<ipython-input-26-8d7f900f6201>, line 1)

In [27]:
print((EMP['salary']),(EMP2['salary']),(EMP3['salary']))

45000 80000 90000

In [28]:
print((EMP[45000]))

KeyError: 45000

In [29]:
print([EMP3[90000]])

KeyError: 90000

In [30]:
EMP={'Place':'vijayawada'}

In [31]:
print(EMP)

{'Place': 'vijayawada'}

In [32]:
EMP={'name':'vasu','age':5:company,'salary':'45000'}

SyntaxError: invalid syntax (<ipython-input-32-3ee442f6abe5>, line 1)

In [33]:
EMP={'name':'vasu','age':5,'company':'HCL','salary':'45000'}

In [34]:
print(EMP)

{'name': 'vasu', 'age': 5, 'company': 'HCL', 'salary': '45000'}

In [37]:
EMP['place']='Vijayawada'

In [36]:
print(EMP)

{'name': 'vasu', 'age': 5, 'company': 'HCL', 'salary': '45000'}

In [38]:
EMP['place']='Vijayawada'

In [39]:
Print(EMP)

NameError: name 'Print' is not defined

In [40]:
print(EMP)

{'name': 'vasu', 'age': 5, 'company': 'HCL', 'salary': '45000', 'place': 'Vijayawada'}

In [41]:
print(EMP)

{'name': 'vasu', 'age': 5, 'company': 'HCL', 'salary': '45000', 'place': 'Vijayawada'}

In [42]:
EMP2['place']='Guntur'

In [43]:
print(EMP2)

{'name': 'tilak', 'age': 32, 'company': 'HCL', 'salary': '80000', 'place': 'Guntur'}

In [47]:
EMP3['Place']:'Bangalore'

In [46]:
print(EMP3)

{'name': 'Mahesh', 'age': 35, 'company': 'HCL', 'salary': '90000'}

In [48]:
EMP3['place']='Bangalore'

In [49]:
print(EMP3)

{'name': 'Mahesh', 'age': 35, 'company': 'HCL', 'salary': '90000', 'place': 'Bangalore'}

In [50]:
del EMP['place']

In [51]:
print(EMP)

{'name': 'vasu', 'age': 5, 'company': 'HCL', 'salary': '45000'}

In [52]:
print(EMP)

{'name': 'vasu', 'age': 5, 'company': 'HCL', 'salary': '45000'}

In [53]:
del EMP2['place']

In [54]:
print(EMP2
    )

{'name': 'tilak', 'age': 32, 'company': 'HCL', 'salary': '80000'}

In [55]:
del EMP3['place'],EMP2['salary']

In [57]:
print([EMP3],[EMP2])

[{'name': 'Mahesh', 'age': 35, 'company': 'HCL', 'salary': '90000'}] [{'name': 'tilak', 'age': 32, 'company': 'HCL'}]

In [58]:
print([EMP3],[EMP2])

[{'name': 'Mahesh', 'age': 35, 'company': 'HCL', 'salary': '90000'}] [{'name': 'tilak', 'age': 32, 'company': 'HCL'}]